<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task List App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <h1>Friday 26th, January</h1>
    <button class="add-task-btn">Add new task</button>

    <!-- Add Task Form -->
    <form id="addTaskForm" action="/tasks" method="POST">
      <input type="text" name="title" placeholder="Task Title" required>
      <textarea name="description" placeholder="Task Description" required></textarea>
      <button type="submit">Add Task</button>
    </form>

    <div class="task-list">
        <% tasks.forEach(function(task) { %>
          <div class="task-item">
            <div class="task-header">
              <h2><%= task.title %></h2>
              <p><%= task.description %></p>
            </div>
            <div class="task-actions">
              <button class="edit-task" data-task-id="<%= task._id %>">Edit</button>
              <button class="delete-task" data-task-id="<%= task._id %>">Delete</button>
            </div>
          </div>
        <% }); %>
      </div>

    
  </div>

  <script src="/js/src.js"></script>
</body>
</html>